In [115]:
import pandas as pd

In [116]:
data = pd.read_csv("../data/Jobs_data.csv",index_col=None)

In [117]:
data.head()

,Job Title,Job link,Company,Location,Category,Salary,Experience
0,Senior Data Engineer (Snowflake),https://internshala.com/job/detail/remote-seni...,Crazy Solutions,NaN,Job,"₹ 12,00,000 - 26,00,000 /year",5 year(s)
1,Data Architect - AEP,https://internshala.com/job/detail/remote-data...,INTINERI INFOSOL PRIVATE LIMITED,NaN,Job,"₹ 12,00,000 - 24,00,000 /year",7 year(s)
2,D365 Power Pages UX/UI Developer,https://internshala.com/job/detail/d365-power-...,Brainhunter Recruiting Pvt Ltd,NaN,Job,"₹ 12,00,000 - 18,00,000 /year",4 year(s)
3,Lead Software Engineer,https://internshala.com/job/detail/lead-softwa...,JobsFlix,NaN,Job,"₹ 12,00,000 - 18,00,000 /year",8 year(s)
4,Senior PHP Developer,https://internshala.com/job/detail/senior-php-...,ALIQAN Technologies,NaN,Job,"₹ 12,00,000 - 18,00,000 /year",9 year(s)

In [118]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989 entries, 0 to 988
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Job Title   966 non-null    object
 1   Job link    966 non-null    object
 2   Company     966 non-null    object
 3   Location    0 non-null      float64
 4   Category    989 non-null    object
 5   Salary      966 non-null    object
 6   Experience  966 non-null    object
dtypes: float64(1), object(6)
memory usage: 54.2+ KB

In [119]:
data.shape

(989, 7)

In [120]:
data['Location'].isnull().sum()

np.int64(989)

In [121]:
df = data.drop(['Location','Category'],axis = 1)

In [122]:
df.head()

,Job Title,Job link,Company,Salary,Experience
0,Senior Data Engineer (Snowflake),https://internshala.com/job/detail/remote-seni...,Crazy Solutions,"₹ 12,00,000 - 26,00,000 /year",5 year(s)
1,Data Architect - AEP,https://internshala.com/job/detail/remote-data...,INTINERI INFOSOL PRIVATE LIMITED,"₹ 12,00,000 - 24,00,000 /year",7 year(s)
2,D365 Power Pages UX/UI Developer,https://internshala.com/job/detail/d365-power-...,Brainhunter Recruiting Pvt Ltd,"₹ 12,00,000 - 18,00,000 /year",4 year(s)
3,Lead Software Engineer,https://internshala.com/job/detail/lead-softwa...,JobsFlix,"₹ 12,00,000 - 18,00,000 /year",8 year(s)
4,Senior PHP Developer,https://internshala.com/job/detail/senior-php-...,ALIQAN Technologies,"₹ 12,00,000 - 18,00,000 /year",9 year(s)

In [123]:
df.shape

(989, 5)

In [124]:
df.isnull().sum()

Job Title     23
Job link      23
Company       23
Salary        23
Experience    23
dtype: int64

In [125]:
df[df.isnull().any(axis=1)]

    Job Title Job link Company Salary Experience
50        NaN      NaN     NaN    NaN        NaN
91        NaN      NaN     NaN    NaN        NaN
134       NaN      NaN     NaN    NaN        NaN
175       NaN      NaN     NaN    NaN        NaN
216       NaN      NaN     NaN    NaN        NaN
257       NaN      NaN     NaN    NaN        NaN
298       NaN      NaN     NaN    NaN        NaN
339       NaN      NaN     NaN    NaN        NaN
380       NaN      NaN     NaN    NaN        NaN
421       NaN      NaN     NaN    NaN        NaN
462       NaN      NaN     NaN    NaN        NaN
503       NaN      NaN     NaN    NaN        NaN
544       NaN      NaN     NaN    NaN        NaN
585       NaN      NaN     NaN    NaN        NaN
626       NaN      NaN     NaN    NaN        NaN
667       NaN      NaN     NaN    NaN        NaN
708       NaN      NaN     NaN    NaN        NaN
749       NaN      NaN     NaN    NaN        NaN
790       NaN      NaN     NaN    NaN        NaN
831       NaN      NaN     NaN    NaN        NaN
872       NaN      NaN     NaN    NaN        NaN
913       NaN      NaN     NaN    NaN        NaN
954       NaN      NaN     NaN    NaN        NaN

In [126]:
df.dropna(inplace = True)

In [127]:
df.shape

(966, 5)

In [128]:
df['Salary'].value_counts()

Salary
Competitive salary              241
₹ 2,00,000 /year                 31
₹ 2,00,000 - 3,00,000 /year      24
₹ 3,00,000 - 5,00,000 /year      16
₹ 2,00,000 - 2,50,000 /year      16
                               ...
₹ 2,10,000 - 3,20,000 /year       1
₹ 2,04,000 - 13,00,000 /year      1
₹ 2,03,500 - 3,30,000 /year       1
₹ 2,02,000 - 2,18,000 /year       1
₹ 2,01,500 /year                  1
Name: count, Length: 274, dtype: int64

In [129]:
rate = 86.14

def exchange(salary):
    if 'competitive' in salary.lower():
        return pd.Series([None, None])

    is_usd = '$' in salary
    salary = salary.replace('$', '').replace('₹', '').replace('/year', '').replace(',', '').strip()
    parts = salary.split('-')
    try:
        min_sal = float(parts[0].strip())
        max_sal = float(parts[1].strip()) if len(parts) > 1 else min_sal

        if is_usd:
            min_sal *= rate
            max_sal *= rate

        return pd.Series([int(min_sal), int(max_sal)])
    except Exception as e:
        print(f"Error parsing salary: {salary} -> {e}")
        return pd.Series([None, None])

df[['Min_Salary', 'Max_Salary']] = df['Salary'].apply(exchange)

In [130]:
df.head()

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary
0,Senior Data Engineer (Snowflake),https://internshala.com/job/detail/remote-seni...,Crazy Solutions,"₹ 12,00,000 - 26,00,000 /year",5 year(s),1200000.0,2600000.0
1,Data Architect - AEP,https://internshala.com/job/detail/remote-data...,INTINERI INFOSOL PRIVATE LIMITED,"₹ 12,00,000 - 24,00,000 /year",7 year(s),1200000.0,2400000.0
2,D365 Power Pages UX/UI Developer,https://internshala.com/job/detail/d365-power-...,Brainhunter Recruiting Pvt Ltd,"₹ 12,00,000 - 18,00,000 /year",4 year(s),1200000.0,1800000.0
3,Lead Software Engineer,https://internshala.com/job/detail/lead-softwa...,JobsFlix,"₹ 12,00,000 - 18,00,000 /year",8 year(s),1200000.0,1800000.0
4,Senior PHP Developer,https://internshala.com/job/detail/senior-php-...,ALIQAN Technologies,"₹ 12,00,000 - 18,00,000 /year",9 year(s),1200000.0,1800000.0

In [131]:
df['Experience'].value_counts()

Experience
1 year(s)     418
0 year(s)     203
4 year(s)      77
3 year(s)      62
7 year(s)      55
2 year(s)      41
5 year(s)      36
8 year(s)      22
6 year(s)      19
10 year(s)     18
9 year(s)       9
12 year(s)      5
13 year(s)      1
Name: count, dtype: int64

In [132]:
df['Experience(in yrs)'] = df['Experience'].str.replace('year(s)',"")

In [133]:
df['Experience(in yrs)'] = df['Experience(in yrs)'].astype(int)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 966 entries, 0 to 988
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           966 non-null    object
 1   Job link            966 non-null    object
 2   Company             966 non-null    object
 3   Salary              966 non-null    object
 4   Experience          966 non-null    object
 5   Min_Salary          725 non-null    float64
 6   Max_Salary          725 non-null    float64
 7   Experience(in yrs)  966 non-null    int64
dtypes: float64(2), int64(1), object(5)
memory usage: 67.9+ KB

In [135]:
df['Job Title'].unique()

array(['Senior Data Engineer (Snowflake)', 'Data Architect - AEP',
       'D365 Power Pages UX/UI Developer', 'Lead Software Engineer',
       'Senior PHP Developer', 'Python Developer',
       'Python (Programming Language)', 'Eagle Star QC Analyst',
       'Azure Platform Engineer', 'Senior Frontend Developer',
       'Java Developer', 'Full Stack Developer (.Net With AWS)',
       'Senior Network Engineer', 'Automation Anywhere Developer',
       'AWS Data Engineer',
       'Sales Development Representative - US Market',
       'Software Engineer (Flutter/Full-Stack)',
       'Artificial Intelligence Engineer', 'QUALITY MANAGER',
       'Performance Test Engineer', 'RPA Business Analyst',
       'Automation Anywhere', 'Computer Vision Specialist', 'SAP ABAP',
       'HM Consulting SAP HCM', 'DotNet Developer',
       'Internet of Things (IoT) Specialist',
       'Internet of Things (IoT) Executive', 'Cyber Security Manager',
       'Cyber Security Executive', 'Full Stack Developer',
       'Product Developer (Assessment Design - Maths And Science IIT/NIT/IISc/BITS/IISER)',
       'Magento 2 Developer', 'Tableau Developers',
       'Junior SAP ABAP Developer', 'Tableau Developer',
       'Quality Assurance', 'Software Development Engineer (Backend)',
       'Java Backend Developer', '.Net React With AWS Developer',
       'MERN Stack Developer', 'Junior Software Tester',
       'Associate Android App Developer',
       'Internet of Things (IoT) Associate', '.NET Developer',
       'Software Engineer Trainee', 'iOS App Developer',
       'Associate Programmer', 'Deveops Engineer', 'Flutter Developer',
       'Laravel PHP Developer', 'Founding Engineer',
       'Digital Marketing -Team Lead', 'Senior Data Engineer - Azure',
       'SAP ABAP Consultant',
       'Full-Stack CodeIgniter Developer (UI/UX + Figma)',
       'Software Development Engineer-1 (Frontend)',
       'Software Test Engineer', 'Android App Developer', 'Programmer',
       'Database & Systems Administrator',
       'Assistant Manager - Microbiology',
       'Azure Sales / DAYSHIFT / Fixed Off /delhi',
       'Cyber Security Associate', 'Associate Software Developer',
       'Associate iOS App Developer', 'Junior Software Developer',
       'Associate Software Tester', 'Associate Mobile App Developer',
       'Android App Developer (Only Female Preferred)(PHP & Laravel)',
       'Senior Information Technology Engineer', 'Head Of Security RMOTE',
       'Solution Architect  App Modernization (GCP)',
       'Senior Engineer Blockchain Infrastructure - REMOTE',
       'REMOTE - Senior Engineer- Trading', 'DevOps Engineer ~ REMOTE',
       'Lead - Salesforce Financial Cloud', 'Quality Assurance Manager',
       'SAP FICO Consultant', 'SAP Technical Architect', 'PHP Developer',
       'Pvt. Cloud SME/Architect', 'Java Architect',
       'MFT Axway Administration & Developer',
       'Senior Informatica Engineer', 'Rancher AWS Senior Engineer',
       'Android SDET', 'Backend SDET', 'AI/ML Engineer',
       'Project Manager (Dotnet)', 'Technical Architect', 'Power BI',
       'SAP SD Project Manager', 'SAP Project Manager',
       'SAP GTS Consultant', 'Full Stack Developer - Senior',
       'UX Designer_ Bangalore', 'Senior Teamcenter Developer',
       'Peoplesoft FSCM Technical Consultant/Developer',
       'PHP Tech Lead Developer_ Bangalore', 'Teamcenter Admin',
       'Appian Architect', 'Fusion Developer', 'Web Developer',
       'Associate Ruby On Rails Developer', 'Junior Programmer',
       'Quality Assurance Engineer', 'Frontend Angular Developer',
       'Full Stack GenAI Developer',
       'Freelance Interviewer-Full Stack (Optimizely)',
       'Junior Mobile App Developer', 'Co-Founder With Investment',
       'Electronics Engineer', 'AI Engineer', 'SAP BASIS Consultant',
       'Senior PHP Laravel Developer', 'Front End Developer',
       'IT Support & Systems Administrator', 'Node.js  Developer',
       'Associate Game Developer', 'Angular Developer', 'QA Tester',
       'AI/ML ERPNext Developer', 'AI/Prompt Engineer',
       'Junior Full Stack Developer', 'Team Lead - Business Professional',
       'Backend Specialist - Research, Architect, And Build',
       'Senior Sap MM Consultant',
       'Assistant Manager - Incoming Packaging Testing',
       'Vmware + Windows + NSX', 'Junior Web Developer',
       'Software Engineer', 'Software Tester', 'Software Developer',
       'Senior Python Developer', 'Full Stack Blockchain Trainer',
       'Senior IT Executive', 'Product Specialist',
       'Senior MERN Stack Developer',
       'Chief Product Manager(MBA Finance)',
       'Assistant Software Engineer', 'Technical Support Specialist',
       'Technical Support Engineer',
       'Technical Support Engineer - Service Desk',
       'Technical Support Engineer (Monitoring)',
       'Senior Support Engineer- L1 Support (MarinePALS)',
       'React Native Developer', 'Senior Web Developer',
       'IT Bsuiness Developer', 'Mobile App Developer',
       'Web Developer (Backend)', 'Backend Developer', 'IOT Engineer',
       'Data Visualization Associate', 'Junior Web Analytics Developer',
       'STEM Curriculum Developer – Computer Science & Robotics (Onsite)',
       'Quantity Surveyor', 'Shopify Coder',
       'Senior Node JS Backend Developer', 'Trainee Software Engineer',
       'Next JS Developer', 'Head Of Technology',
       'Technical Project Manager', 'Computer Executive',
       'Data Engineer - Web Scraping', 'Computer Operator',
       'Back End Executive', 'Backend Maintenance Executive',
       'Business Development Executive - Ahmedabad', 'Product Analyst',
       'Full Stack - Python And REACT', 'Senior Full Stack Developer',
       'Electronics Hardware & Software Specialist', 'Photo Editor',
       'STEM Teacher', 'Business Development Executive',
       'Node.js + Angular Developer', 'Node.js/MySQL Developer',
       'Node.js Developer', 'IT Website Project Manager',
       'Quality Inspector', 'Front End Development',
       'Artificial Intelligence (AI) (Computer Vision, NLP & GenerativeAI)',
       'Junior Full Stack Developer (Fresher)',
       'Junior WordPress Developer', 'IT Sales Executive',
       'Digital Marketing Executive', 'Golang Developer L Ahmedabad',
       'Senior WordPress Developer', 'Laravel Developer',
       'React JS Frontend Developer', 'Senior SEO Specialist',
       'Digital Marketing Manager', 'ERP Next Developer',
       'Product Manager', 'SCADA ENGINEER',
       'Python Technical Trainer - Full Time Job',
       'Cyber Security Instructor - Full Time', 'Technical Associate',
       'Google Workspace Sales Executive', 'Image Processing Executive',
       'WordPress Developer', 'QA Automation Engineer',
       'Technical Trainer',
       'Junior/Senior Network Engineer – Network Operations Center (NOC)',
       'Jr. Java Developer', 'Sr. Java Developer', 'Unity Developer',
       'Senior Mobile App Developer', 'US - IT Staffing Recruiter',
       'Artificial Intelligence (AI) Associate',
       'Content Writer - Ahmedabad', 'Game Developer',
       'Associate QA (Live Ops)', 'Av Programmer',
       'Associate Backend Developer', 'Senior Front End Developer',
       'React JS Developer', 'Hosting Support Engineer (Full-Time)',
       '21st Century Skills Trainer', 'AI-Powered Full-Stack Developer',
       'Flutter Developer – Mobile & Web App Development',
       'DevOps Engineer', 'Junior Software Engineer', 'WED DEVELOPMENT',
       'Junior UI/UX Designer', 'AI Automation Engineer',
       'QA Engineer- Manual Testing', 'MERN/MEAN Stack Developer',
       'Full Stack Developer (Lucknow)', 'QA Engineer',
       'Performance Marketing Executive', 'Jr. IOS Developer',
       'App Store Optimization', 'Trainee - Infrastructure Engineer',
       'Flutter Mobile App Developer', 'Jr. Business Analyst',
       'Shopify Developer / Expert', 'Full Stack Developer (AI/ML)',
       'Technical Support Analyst', 'Junior JavaScript Developer',
       'SAP BASIS Trainee', 'Service Desk', 'ASP.NET Developer',
       'Sales Engineer',
       'Fullstack Developer (NestJS + Next.js + Node.js + MongoDB)',
       'Flutter Mobile Developer', 'Quality Engineer',
       'L1 Support Engineer', 'IOS Development',
       'Associate Python Developer', 'AI & Robotics Trainer',
       'AI And Robotics Trainer', 'Digital Operations Executive',
       'ERPNext Developer', 'Documentation Lead - Technology',
       'Cloud Computing Executive',
       'Network & IT Infrastructure Executive', 'Q&A Author (Statistics)',
       'IT Hardware Assistant', 'Associate Java Developer',
       'Junior Network Engineer',
       'Django Rest Framework Developer – Full-Time',
       'System Administration',
       'React & Next.js Frontend Engineer – Build AI Interfaces',
       '3D Rigging And Animator', 'Trainee Engineer - Quality',
       'Mern Stack & React Native Developer', 'Jr. Database Developer',
       'Firmware Developer - GET',
       'Sales Quality & CRM Compliance Executive',
       'Full Stack Java Developer', 'NextJS Developer',
       'Customer Success (Tech Support - SaaS Software)',
       'Generative AI Application Executive', 'IT MIS Support Executive',
       'Production Supervsior', 'Human Resources Executive',
       'Business Analyst Trainee', 'Production Supervisor',
       'Compliance Executive', 'Quality Analyst', 'IT Support',
       'Desktop Support L1',
       'Product & Sales Growth Manager – E-commerce & Social Media',
       'Technical Customer Support', 'Quality Executive',
       'Big Data Executive', 'Laptop Service Engineer',
       'Quality Assurance Assistant',
       'Junior Website Developer (WordPress + Shopify)',
       'Search Engine Optimization Specialist',
       'Information Technology Engineer', 'Warehouse Executive',
       'STEM Innovation Engineer/Mentor', 'CCNA Faculty Trainer',
       'Customer Service Executive', 'Network Engineer', 'Tech Trainer',
       'Shopify Web Development', 'Business Development Specialist',
       'Senior Java Developer', 'Golang Developer',
       'Flutterflow Developer Job', 'JavaScript Developer',
       'Kotlin App Development', 'Linnux Admin',
       'Website Audit Video Creator (Remote)', 'Mern Trainer',
       'Junior Front End Developer', 'System Administrator Intern',
       'Website Development (Lead Generation Focus)', 'Shopify Developer',
       'Helpdesk Executive', 'IT Administrator',
       'Computer Hardware And Software Installation Eng',
       'Laravel And Next.js Developer', 'Manual Tester',
       'Unity Game Developer', 'Game Designer', 'SEO Specialist',
       'RS-CIT Teacher (Rajasthan State Certificate Course In Information Technology)',
       'ASP.NET Core Full Stack Developer', 'Computer Faculty',
       'Corporate Sales Executive', 'Junior Android App Developer',
       'Generative AI Developer', 'Robotics Trainer',
       'Junior IT Support Officer',
       'AI Vibe Coder (Full-stack Development)',
       'Technical Onsite Support Executive',
       'Python Full Stack Developer', 'Junior Laravel Developer',
       'Junior Lab Chemist – Quality Control (Poultry Feed Plant)',
       'Academic Content Writer', 'Senior Flutter Developer',
       'IT Recruiter', 'Digital Media & Website Coordinator',
       'Shopify Website Developer', 'Full Stack Software Engineer',
       'AI & Voice Bot Developer', 'Software Support Engineer',
       'Project Coordinator (IT)', 'Junior PHP Developer',
       'Associate Front End Developer',
       'Software Test Engineer (Generative AI Platform)',
       'PHP Laravel Developer', 'Artificial Intelligence (AI) Specialist',
       'Documentation Executive',
       'Junior Search Engine Optimization (SEO) Executive',
       'Data Structures And Algorithms Trainer',
       'Digital Marketing Associate', 'Robotics Trainee',
       'Associet AI Nextjs Developer', 'Product Executive',
       'AWS Bedrock Developer', 'SAP ABAP Associate',
       'Image Processing Associate', 'Tech & Operations Coordinator',
       'Subject Matter Expert- Computer Science',
       'Wordpress & Shopify Developer', '2D Game Artist',
       'Junior Machine Learning Associate', 'Service Delivery Engineer',
       'Cyber Security Specialist', 'Senior Backend Developer',
       'Backup And Storage Engineer', 'CodeIgniter Developer',
       'Operetional Process Management Executive',
       'PRESALES CONSULTANT  COMPUTE INFRASTRUCTURE',
       'Software Engineer (.Net Full Stack) - X Delivery',
       'Software Engineer - X Delivery',
       'Associate Tech Lead  Next.js | Node.js | MySQL',
       'Telecom Coordinator', 'WebDriver IO Automation Tester Lead',
       'Front-end Developer', 'SAP R2R Consultant Remote Freelance',
       'IAM Podcast Powered By Iamops.io', 'L2 Support',
       'Azure Databricks', 'Senior Developer - ReactJS Full Stack',
       'Senior Python ETL Developer/Lead', 'Odoo Developers',
       'Systems Analyst 1-IT', 'Technical Analyst 1-Support',
       'Pre-Sales Consultants',
       'Microsoft D365 - F&O Developer Remote Freelance',
       'Front End Engineer II', 'Quality Assurance Engineer I',
       'Quality Assurance Technician', 'Devops Architect',
       'Data Scientist Engineer',
       'QAE I, IES DEX (Quality Assurance & Testing)',
       'Software Development Engineer II, AWD',
       'Software Development Engineer II', 'Senior Software Developer',
       'Senior Software Engineer', 'SME MSSQL', 'SME - PostgreSQL  (JIO)',
       'Database Administrator', 'Junior Third-Party Risk Assessor',
       'Oracle BRM Developer', 'UI Automation', 'Cloud Administrator',
       'WSO2', 'Senior Quality Assurance Automation Engineer',
       'GOOGLE SHEET DEVELOPER', 'CCTV Technician',
       'Associate – Microsoft Dynamics 365 CRM Technical Developer',
       'Associate – SAP Consultant',
       'Associate – Oracle Fusion HCM Functional Consultant',
       'Senior Associate – Cybersecurity',
       'Senior Associate – Oracle Fusion SCM',
       'Software Quality Engineer - 2', 'Product Security Engineer 2',
       'Software Development Engineer 2', 'Member Of Technical Staff 2',
       'Software Engineer 2', 'Machine Learning Engineer',
       'Computer Scientist - I (DevOps)', 'Microsoft Teams Developer',
       'Consultant - Business Consulting (Data Science/Engineering)',
       'Sr. Technical Support Engineer (ContactCenter)',
       'Senior Functional Consultant - D365 F&O', 'SAP PS CONSULTANT',
       'SAP PM Consultant',
       'Systems Engineer - Privacy & Data Protection',
       'Information Security Engineer', 'SAP Security',
       'IBU - Presales - CSG', 'Analyst - Privacy And Data Protection',
       'Senior .Net Core Developer', 'Associate Software Engineer',
       '.NET Core Developer', 'Salesforce Developer',
       'Application Developer-IT Service Management',
       'Package Consultant-SAP EIM', 'Data Engineer-Data Warehouse',
       'Technical Consultant-Application Security',
       'Application Database Administrator-Oracle Enterprise Applications',
       'Application Developer-Java & Web Technologies',
       'Package Consultant-Oracle Enterprise Performance Management Cloud',
       'Data Engineer-Business Intelligence',
       'Technical Support Engineer - SOC',
       'Technical Support Engineer - VDI',
       'Technical Support Engineer - SCCM',
       'Technical Specialist - Windows Admin', 'Builder SDK',
       'Associate Technical Consultant', 'Ai Platform Engineer',
       'Professional Services Consultant 2',
       'India Development Centre (IDC)',
       'Adobe Campaign – Technical Consultant', 'Workfront Consultant',
       'ASIC Engineer',
       'Software Test Developer And Automation Engineer - Automotive',
       'Chip Power Estimation Engineer',
       'System Software Engineer - OpenBMC',
       'Senior Verification Engineer - Memory Subsystem',
       'Service Reliability Operations Engineer',
       'Software QA Test Developer - SoC Validation',
       'Adobe Analytics Sr Consultant', 'AI Platform Architect',
       'Network Infrastructure Engineer',
       'Circuit Design Engineer - Hardware',
       'SWQA Tools Development Engineer', 'Verification Engineer, PCIE',
       'DFX CAD Tools Development Engineer',
       'VLSI Tool Development Software Engineer', 'VMO IT Asset Manager',
       'Unity Developers', 'SAP Fiori Developer', 'Senior Data Engineer',
       'IT Telecaller', 'Software Engineer ( Flutter )',
       'Security Consultant - GRC',
       'Desktop & Network Support Field Engineer',
       'Sr.Technical Specialist ( Windows Admin L3 )', 'Storage Admin',
       'Junior Dotnet Developer + Data Engineer', 'DG SS Engineer',
       'Shift Manager', 'Solution Engineer',
       'Cloud Presales Consultant - Azure & AWS',
       'Desktop & Network Support Engineer', 'AJO Developer',
       'SME - Mechanical (Data Centre)', 'Php Lead', 'SEO Content Writer',
       'Technical Specialist - Windows Admin - L3',
       'Senior App Engg - Backend Engineer', 'Data Engineer',
       'Python Automation Developer', 'L1 IT & Network Engineer',
       'Azure Cloud Security Engineer - Sentinel',
       'Microsoft Dynamics 365 F&O Functional Consultant',
       'VM Ware & Windows', 'Manual Test Engineer',
       'Oracle BRM Architect',
       'Technical Product Manager (Insurance Product)',
       'Senior ZOHO Developer', 'React Developer', 'ServiceNow Developer',
       'SEO Executive', 'Power Automate',
       'Technical Specialist - Windows',
       'Solution Architect -Cloud Lead - Technical Lead',
       'Senior Network Security Engineer - F5/Firewall',
       'Cyber Security Engineer - L2(Immediate Joiner)',
       'Quality Assurance Automation Engineer', 'Senior End User Support',
       'Network & Security Engineer',
       'NEET Content Reviewer  Physics/Chemistry/Biology',
       'Okta Identity Cloud', '.NET Framework',
       'Enterprise Compute Sales Specialist',
       'Practice Consultant - Cloud', 'Hadoop Administration',
       'Backup & Storage Engineer', 'SEO Manager',
       'Python Fullstack Developer_Charni Road (Girgaon)',
       'Sales Executive In SaaS', 'Mobile App Marketing Expert',
       'Project Coordinator', 'OCI Infrastructure', 'Security Engineer',
       'WiFi Engineers', 'DBA Engineer', 'Service Desk Engineer',
       'SEO - Fresher - Ahmedabad',
       'Application Developer  Cloud FullStack',
       'JAVA React Full Stack Engineers',
       'Security & DevOps Support Engineer - (ERT)', 'Cloud Engineer',
       'Power Automate Developer', 'Kafka Admin', 'AI ML Engineer',
       'Intermediate Backend Java Development Resource',
       'Intermediate Full Stack Development Resource',
       'Power BI Architect',
       'Hiring Freshers (Sales & Marketing) - Remote',
       'Sales Development Representative - Remote', 'Telecaller - Remote',
       'Desktop Support Specialist',
       'TechnoFunctional Consultant (ContactCenters)',
       'Senior Technical Consultant - Database',
       'Technician Electrician - Utility', 'Power BI Consultant',
       'Big Data Developer', 'Java Full Stack Developer',
       'Video Editor & Creator'], dtype=object)

In [136]:
category_map = {
    'Data & AI': ['data', 'ml', 'machine learning', 'ai', 'artificial intelligence', 'analytics', 'vision','analyst','power bi','tableau','python'],
    'Software Development': ['ios','android','kotlin','developer', 'engineer', 'programmer', 'full stack', 'backend', 'front end','frontend' ,'web development','app development'],
    'Cybersecurity': ['cyber', 'security', 'soc', 'iam'],
    'Quality Assurance & Testing': ['qa', 'quality', 'test', 'sdet'],
    'DevOps & Cloud': ['devops', 'aws', 'azure', 'cloud', 'gcp', 'platform'],
    'Game Development': ['game', 'unity'],
    'UI/UX & Design': ['ux', 'ui', 'figma'],
    'IT Support & Infrastructure': ['support', 'administrator', 'admin', 'it', 'desktop', 'infrastructure'],
    'SAP & ERP': ['sap', 'odoo', 'd365', 'oracle', 'erp'],
    'Sales & Marketing': ['sales', 'marketing', 'seo', 'content', 'digital'],
    'Project & Product Management': ['project manager', 'product manager', 'coordinator', 'scrum','mamager','consultant'],
    'Education & Training': ['trainer', 'instructor', 'teacher', 'faculty'],
    'Electronics & Hardware': ['electronics', 'circuit', 'hardware', 'embedded','iot']
}
def categorize(title):
    title_lower = title.lower()
    for category, keywords in category_map.items():
        if any(keyword in title_lower for keyword in keywords):
            return category
    return 'Other'

df['Category'] = df['Job Title'].apply(categorize)

In [137]:
def categorize(title):
    title_lower = title.lower()
    for category, keywords in category_map.items():
        if any(keyword in title_lower for keyword in keywords):
            return category
    return 'Other'

df['Category'] = df['Job Title'].apply(categorize)

In [138]:
df.head()

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary,Experience(in yrs),Category
0,Senior Data Engineer (Snowflake),https://internshala.com/job/detail/remote-seni...,Crazy Solutions,"₹ 12,00,000 - 26,00,000 /year",5 year(s),1200000.0,2600000.0,5,Data & AI
1,Data Architect - AEP,https://internshala.com/job/detail/remote-data...,INTINERI INFOSOL PRIVATE LIMITED,"₹ 12,00,000 - 24,00,000 /year",7 year(s),1200000.0,2400000.0,7,Data & AI
2,D365 Power Pages UX/UI Developer,https://internshala.com/job/detail/d365-power-...,Brainhunter Recruiting Pvt Ltd,"₹ 12,00,000 - 18,00,000 /year",4 year(s),1200000.0,1800000.0,4,Software Development
3,Lead Software Engineer,https://internshala.com/job/detail/lead-softwa...,JobsFlix,"₹ 12,00,000 - 18,00,000 /year",8 year(s),1200000.0,1800000.0,8,Software Development
4,Senior PHP Developer,https://internshala.com/job/detail/senior-php-...,ALIQAN Technologies,"₹ 12,00,000 - 18,00,000 /year",9 year(s),1200000.0,1800000.0,9,Software Development

In [140]:
df['Category'].value_counts()

Category
Software Development            546
Data & AI                       150
IT Support & Infrastructure      60
Other                            56
Cybersecurity                    33
Quality Assurance & Testing      32
Project & Product Management     20
SAP & ERP                        19
Sales & Marketing                18
DevOps & Cloud                   14
UI/UX & Design                    8
Electronics & Hardware            6
Education & Training              2
Game Development                  2
Name: count, dtype: int64

In [141]:
df.drop_duplicates(inplace = True)

In [142]:
df

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary,Experience(in yrs),Category
0,Senior Data Engineer (Snowflake),https://internshala.com/job/detail/remote-seni...,Crazy Solutions,"₹ 12,00,000 - 26,00,000 /year",5 year(s),1200000.0,2600000.0,5,Data & AI
1,Data Architect - AEP,https://internshala.com/job/detail/remote-data...,INTINERI INFOSOL PRIVATE LIMITED,"₹ 12,00,000 - 24,00,000 /year",7 year(s),1200000.0,2400000.0,7,Data & AI
2,D365 Power Pages UX/UI Developer,https://internshala.com/job/detail/d365-power-...,Brainhunter Recruiting Pvt Ltd,"₹ 12,00,000 - 18,00,000 /year",4 year(s),1200000.0,1800000.0,4,Software Development
3,Lead Software Engineer,https://internshala.com/job/detail/lead-softwa...,JobsFlix,"₹ 12,00,000 - 18,00,000 /year",8 year(s),1200000.0,1800000.0,8,Software Development
4,Senior PHP Developer,https://internshala.com/job/detail/senior-php-...,ALIQAN Technologies,"₹ 12,00,000 - 18,00,000 /year",9 year(s),1200000.0,1800000.0,9,Software Development
...,...,...,...,...,...,...,...,...,...
984,React Native Developer,https://internshala.com/job/detail/react-nativ...,Versatile Commerce,Competitive salary,1 year(s),NaN,NaN,1,Software Development
985,Power BI Consultant,https://internshala.com/job/detail/power-bi-co...,NETSACH GLOBAL,Competitive salary,4 year(s),NaN,NaN,4,Data & AI
986,Big Data Developer,https://internshala.com/job/detail/big-data-de...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),NaN,NaN,4,Data & AI
987,Java Full Stack Developer,https://internshala.com/job/detail/java-full-s...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),NaN,NaN,4,Software Development
988,Video Editor & Creator,https://internshala.com/job/detail/video-edito...,LogicGo Infotech,Competitive salary,1 year(s),NaN,NaN,1,IT Support & Infrastructure

In [ ]:
# Precompute category-wise average salary
category_avg = df[['Category', 'Min_Salary', 'Max_Salary']].assign(Avg_Salary=lambda d: d[['Min_Salary', 'Max_Salary']].mean(axis=1)).groupby('Category')['Avg_Salary'].mean()

def impute_salary(row):
    if pd.isna(row['Min_Salary']) or pd.isna(row['Max_Salary']):
        avg = category_avg.get(row['Category'])
        return pd.Series([avg, avg])
    return pd.Series([row['Min_Salary'], row['Max_Salary']])

df[['Min_Salary', 'Max_Salary']] = df.apply(impute_salary, axis=1)

In [147]:
df['Min_Salary'] = df['Min_Salary'].apply(lambda x: round(x, 2)).astype(int)
df['Max_Salary'] = df['Max_Salary'].apply(lambda x: round(x, 2)).astype(int)

In [150]:
df = df.reset_index(drop=True)

In [151]:
df

,Job Title,Job link,Company,Salary,Experience,Min_Salary,Max_Salary,Experience(in yrs),Category
0,Senior Data Engineer (Snowflake),https://internshala.com/job/detail/remote-seni...,Crazy Solutions,"₹ 12,00,000 - 26,00,000 /year",5 year(s),1200000,2600000,5,Data & AI
1,Data Architect - AEP,https://internshala.com/job/detail/remote-data...,INTINERI INFOSOL PRIVATE LIMITED,"₹ 12,00,000 - 24,00,000 /year",7 year(s),1200000,2400000,7,Data & AI
2,D365 Power Pages UX/UI Developer,https://internshala.com/job/detail/d365-power-...,Brainhunter Recruiting Pvt Ltd,"₹ 12,00,000 - 18,00,000 /year",4 year(s),1200000,1800000,4,Software Development
3,Lead Software Engineer,https://internshala.com/job/detail/lead-softwa...,JobsFlix,"₹ 12,00,000 - 18,00,000 /year",8 year(s),1200000,1800000,8,Software Development
4,Senior PHP Developer,https://internshala.com/job/detail/senior-php-...,ALIQAN Technologies,"₹ 12,00,000 - 18,00,000 /year",9 year(s),1200000,1800000,9,Software Development
...,...,...,...,...,...,...,...,...,...
888,React Native Developer,https://internshala.com/job/detail/react-nativ...,Versatile Commerce,Competitive salary,1 year(s),570950,570950,1,Software Development
889,Power BI Consultant,https://internshala.com/job/detail/power-bi-co...,NETSACH GLOBAL,Competitive salary,4 year(s),760750,760750,4,Data & AI
890,Big Data Developer,https://internshala.com/job/detail/big-data-de...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),760750,760750,4,Data & AI
891,Java Full Stack Developer,https://internshala.com/job/detail/java-full-s...,Chiselon Technologies Pvt Ltd,Competitive salary,4 year(s),570950,570950,4,Software Development
892,Video Editor & Creator,https://internshala.com/job/detail/video-edito...,LogicGo Infotech,Competitive salary,1 year(s),651897,651897,1,IT Support & Infrastructure

In [152]:
df.to_csv("../data/cleaned_job_data.csv",index=False)